name: lunar_calendar_plus
description: A Flutter package for lunar calendar with event management and holiday display
version: 1.3.0
homepage: https://github.com/Nghi-NV/lunar_calendar

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.19.0
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
